.social {
    display: flex;

    &__item {
        display: inline-block;
        margin: 0 5px;
    }

    &__link {
        color: #000;
        font-size: 22px;
        transition: color .15s linear;

        padding: 8px;

        &:hover {
            color: $gray;
        }
    }
}